@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (Model.People is not null)
{
    <div class="row">
        @foreach (var person in Model.People)
        {
            <div class="col-md-4">
                <p>@person.Name?.First</p>
                <img src="@person.Picture?.Large" alt=""/>
            </div>
        }
    </div>
}

@Model.Message